body{
    background-color:rgb(14, 181, 247);
}
h1 { 
    color: rgb(8, 8, 8); 
    margin-bottom: -5px; 
} 
.ui { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 
.row { 
    display: flex; 
} 
.cell { 
    border: none; 
    width: 80px; 
    height: 80px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 24px; 
    text-align: center; 
    cursor: pointer; 
}   
.cell:active { 
    outline: none; 
} 
#b1{ 
    border-bottom: 1px solid #fff240; 
    border-right: 1px solid #fff240; 
} 
#b2 { 
    border-bottom: 1px solid #fff240; 
    border-right: 1px solid #fff240; 
    border-left: 1px solid #fff240; 
} 
#b3 { 
    border-bottom: 1px solid #fff240; 
    border-left: 1px solid #fff240; 
} 
#b4 { 
    border-top: 1px solid #fff240; 
    border-bottom: 1px solid #fff240; 
    border-right: 1px solid #fff240; 
} 
#b5 { 
    border: 1px solid #fff240; 
} 
#b6 { 
    border-top: 1px solid #fff240; 
    border-bottom: 1px solid #fff240; 
    border-left: 1px solid #fff240; 
} 
#b7 { 
    border-top: 1px solid #fff240; 
    border-right: 1px solid #fff240; 
} 
#b8 { 
    border-top: 1px solid #fff240; 
    border-right: 1px solid #fff240; 
    border-left: 1px solid #fff240; 
} 
#b9 { 
    border-top: 1px solid #fff240; 
    border-left: 1px solid #fff240; 
} 
#but { 
    box-sizing: border-box; 
    width: 95px; 
    height: 40px; 
    border: 1px solid rgb(3, 3, 3); 
    margin-left: auto; 
    border-radius: 8px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    font-size: 20px; 
    cursor: pointer; 
} 
#print { 
    font-family: Verdana,Geneva, Tahoma, sans-serif; 
    color: rgb(7, 7, 7); 
    font-size: 20px; 
} 
#main { 
    text-align: center; 
} 
#ins { 
    font-family: Verdana,Geneva,Tahoma, sans-serif; 
    color: dodgerblue; 
}
